VITE_SUPABASE_URL=https://wjrekiibngguchcqbqwi.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqcmVraWlibmdndWNoY3FicXdpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3NDg5MDgsImV4cCI6MjA4OTMyNDkwOH0.1hDtbbngmqkqYBXulIMshXRJdR-XJJBTYSfM5M2stwE
